.obsidian
.obsidian\*
.trash
.trash\*
.vscode\*
.vscode
.idea\*
.idea
.stfolder\*
.stfolder


1 日记
1 日记\*
1 小说
1 小说\*
0 templates
0 templates\*

.stignore
.stversions
.stversions\*
.stversions
.stversions\*

Excalidraw
笔记.code-workspace
latexcfg.json