.obsidian
.trash

.obsidian\*
.trash\*

latexcfg.md

.vscode\*

.obsidian/app.json
.obsidian/appearance.json
.obsidian/community-plugins.json
.obsidian/core-plugins-migration.json
.obsidian/core-plugins.json
.obsidian/workspace.json
.obsidian/plugins/obsidian-git/main.js
.obsidian/plugins/obsidian-git/manifest.json
.obsidian/plugins/obsidian-latex-suite/data.json
.obsidian/plugins/obsidian-latex-suite/main.js
.obsidian/plugins/obsidian-latex-suite/manifest.json
.obsidian/plugins/obsidian-latex-suite/styles.css
.obsidian/plugins/remotely-save/main.js
.obsidian/plugins/remotely-save/manifest.json
.obsidian/plugins/remotely-save/styles.css
.obsidian/themes/Blue Topaz/manifest.json
.obsidian/themes/Blue Topaz/theme.css
随笔.md
